@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* Global CSS Start */
html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    word-break: break-word;
    background-color: #f5f5f7 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    margin: 0;
    line-height: 1;
}

p {
    line-height: 1.3;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #4c4c4c;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    line-height: 1.2;
    margin-bottom: 3px;
}

a {
    display: inline-block;
    text-decoration: none !important;
    font-family: "Raleway", sans-serif;
}

button,
textarea,
input {
    font-family: "Raleway", sans-serif;
}

input {
    font-family: "Raleway", sans-serif;
}


.container {
    width: 100%;
    max-width: 1370px !important;
    margin: 0 auto;
    padding: 0 0.9375rem;
}


.py-7 {
    padding: 4.375rem 0;
}

.pt-7 {
    padding-top: 4.375rem;
}

.pb-7 {
    padding-bottom: 4.375rem;
}

.py-8 {
    padding: 5rem 0;
}

.pt-8 {
    padding-top: 5rem;
}

.pb-8 {
    padding-bottom: 5rem;
}


.py-10 {
    padding: 6.25rem 0;
}

.pb-10 {
    padding-bottom: 6.25rem;
}

.pt-10 {
    padding-top: 6.25rem;
}

.inline-flex {
    display: inline-flex;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.m-0-auto {
    margin: 0 auto
}

.bg_center_cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_center_contain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.align-end {
    align-items: flex-end;
}

.bg-0-0 {
    background-position: 0% 0%;
}

/* Global CSS End */




/* Website Scrollbar CSS  */
::-webkit-scrollbar {
    width: 0.9375rem;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #8b572a;
    border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #8b572a;
}

/* Website Scrollbar CSS  */

/* Section Heading CSS Start */
.section_heading {
    color: #191919;
    font-size: 2.5rem;
    line-height: 1.3;
}

span.theme {
    color: #8b572a;
}

span.theme_bold {
    color: #8b572a;
    font-weight: 600;
}

.bg_light {
    background-color: #f5f5f7;
}

.bg_dark {
    background-color: #191919;
}

.text_white {
    color: #fff;
}

.text_theme {
    color: #8b572a;
}

.aoshide {
    overflow: hidden;
}

/* Section Heading CSS End */

/* Button CSS Start */
.butn {
    position: relative;
    z-index: 2;
    vertical-align: middle;
    display: inline-flex;
    border: none;
    text-align: center;
    background-color: #8b572a;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    padding: 0.9375rem 1.875rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.butn::after,
.butn::before {
    content: "";
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: #000;
    transition: 1s ease;
}

.butn::before {
    top: -2em;
    left: -2em;
}

.butn::after {
    left: calc(100% + 4em);
    top: calc(100% + 4em);
}

.butn:hover {
    color: #fff;
    box-shadow: none;
}

.butn:hover::after,
.butn:hover::before {
    height: 35.625rem;
    width: 35.625rem;
}

/* Button CSS End*/
/* Header CSS Start */
.sticky-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    padding: 0 40px;
    padding: 0.9375rem 0px;
    background-color: #f5f5f7;
}

.sticky-header.fixed_header {
    background-color: #222222;

}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.9375rem 0;
}

.brand-container_mobile {
    display: none;
}

.brand-container_mobile a {
    background-image: url(../images/logo_mobile.svg);
}

.navigation-bar {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.brand-container {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}


.brand-link {
    display: inline-block;
    background-position: unset;
    background-size: contain;
    background-repeat: no-repeat;
    height: 5rem;
    width: 18.75rem;
    background-image: url(../images/logo.svg);
}

.menu-toggle-btn {
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    text-align: right;
    cursor: pointer;
    margin: auto 0;
    z-index: 60;
    background-image: url("../images/menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation-menu ul,
.menu_right ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-menu ul li a,
.menu_right ul li a {
    text-decoration: none !important;
    border: none !important;
    background: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: #8b572a;
    font-weight: 500;
    padding: 10px;
    line-height: 1 !important;
    position: relative;

}

.navigation-menu ul li a::after,
.menu_right ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 100%;
    background-color: #8b572a;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-out;
    pointer-events: none;
}

.navigation-menu ul li a.dropdown-toggle::after {
    height: 1.5px !important;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
    background-color: #8b572a;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: '';
    display: block;
}

.navigation-menu ul li a:hover::after,
.navigation-menu ul li a.active::after,
.menu_right ul li a:hover::after,
.menu_right ul li a.active::after {
    transform: scaleX(0.9);
}

.navigation-menu ul li a.dropdown-toggle::after {
    height: 1.5px !important;         
    background-color: #8b572a !important;
    margin-left: 0 !important;
    border: none,  !important;
}

.navigation-menu ul li a.dropdown-toggle:hover::after,
.navigation-menu ul li a.dropdown-toggle.active::after {
    transform: scaleX(0.9);
}




.menu-close-btn {
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/close.png);
}

.navigation-menu ul li a.desktop_hidden {
    display: none;
}

.sticky-header .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-header .social-links a {
    color: #fff;
    margin: 0 5px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all ease-in-out;
    padding: 0.5625rem;
}

.sticky-header .social-links a:hover {
    transform: translateY(-3px);
}

.sticky-header .social-links a svg {
    fill: #8b572a;
    height: 100%;
    width: 100%;
}


.navigation-bar li a svg {
    transition: all 0.2s linear;
    fill: #8b572a;
}

.navigation-bar li {
    position: relative;
}


.navigation-bar li ul.submenu {
    display: block;
    position: absolute;
    width: max-content;
    padding: 20px;
    background: #fff;
    border: 1px solid #2222220e;
    top: calc(100% + 60px);
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s linear;
    opacity: 0;
    visibility: hidden;
    border-radius: 20px;
    z-index: 99;
}

.navigation-bar li.submenu-open>ul.submenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.nav-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 10px;
}

.nav-button:hover {
    background-color: #0056b3;
}

.header_with_select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.header_select select {
    border: none;
    outline: none;
    padding: 0.9375rem 1.875rem;
    min-width: 300px;
    font-size: 1.1rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500;
    color: #818181;
    width: auto;
}

.header_select {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}

.brand-container-desktop p {
    font-size: 1.1rem;
    margin-top: 1rem;
    color: #8b572a;
    font-family: "Playfair Display", serif;
}

/* Header CSS End */


/* Home Category Slider CSS Start */
.hotel_cat_cards.py-5 {
    height: 100%;
    overflow: hidden;
}

.banner_slides {
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.slick-prev:before,
.slick-next:before {
    display: none;
}


.slide_content {
    text-align: center;
    padding: 0 15px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 35px;
    opacity: 1;
}

.hotel_cat_cards button.slick-prev {
    left: 0;
    z-index: 1;
}

.hotel_cat_cards button.slick-next {
    right: 0;
    z-index: 1;
}

.hotel_cat_cards .slick-arrow {
    width: auto !important;
    height: auto !important;
}

.slick-prev svg,
.slick-next svg {
    width: 80px;
    height: 80px;
    fill: #fff;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.slick-prev:hover svg,
.slick-next:hover svg {
    opacity: 1;
    transform: scale(1.05);
}

/* Home Category Slider CSS End */

/* After Banner CSS Start */
.after_banner_wrap p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.4;
}

.after_banner_wrap h4 {
    color: #191919;
    font-size: 1.7rem;
}

hr {
    margin: 0;
}

.home_why_us_img {
    height: 18.75rem;
    width: 100%;
    margin-bottom: 1.25rem;
}

.home_why_us_card {
    background-color: #fff;
    height: 100%;
    transition: 0.2s all ease-in-out;
}

.home_why_us_card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home_why_us_txt {
    padding: 0 1rem 1rem 1rem;
}

.underline {
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    background: #4c4c4c;
    height: 2px;
    width: 100px;
    bottom: -10px;
    left: 0;
}

.underline_theme {
    position: relative;
}

.underline_theme::after {
    content: '';
    position: absolute;
    background: #8b572a;
    height: 2px;
    width: 70px;
    bottom: -10px;
    left: 0;
}

.underline_white {
    position: relative;
}

.underline_white::after {
    content: '';
    position: absolute;
    background: #fff;
    height: 2px;
    width: 70px;
    bottom: -10px;
    left: 0;
}

/* After Banner CSS End */


/* Home Location Cards CSS Start */
.home_explore_card_txt h5 svg {
    height: 15px;
    width: 15px;
    margin-top: -3px;
    fill: #212529;
    margin-right: 0.3125rem;
}

.home_explore_card_txt p svg,
.location_svg svg {
    height: 15px;
    width: 20px;
    margin-top: -3px;
    fill: #212529;
    margin-right: 0.3125rem;
}

.home_explore_card_img {
    height: 300px;
    width: 100%;
    margin-bottom: 1.25rem;
}

.home_explore_card {
    background-color: #ffff;
    height: 100%;
    transition: 0.2s all ease-in-out;
}

.home_explore_card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home_explore_card_txt {
    padding: 0 1rem 1.25rem 1rem;
}

/* Home Location Cards CSS End*/
.hotel_of_month_card {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.hotel_of_month_card_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.hotel_of_month_card_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.4s ease;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    color: white;
    box-sizing: border-box;
    text-align: center;
    transform: translateY(0);
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card-hidden-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transform: translateY(30px);
    transition: all 0.5s ease 0.1s;
}

.hotel_of_month_card:hover .hotel_of_month_card_bg {
    transform: scale(1.05);
}

.hotel_of_month_card:hover .hotel_of_month_card_overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.hotel_of_month_card:hover .card-content {
    bottom: 50%;
    transform: translateY(50%);
}

.hotel_of_month_card:hover .card-hidden-content {
    opacity: 1;
    max-height: 300px;
    transform: translateY(0);
}

.card-hidden-content p {
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.2rem;
}

/* Home Start CSS Start*/
.home_plan_img_outer {
    height: 60px;
    width: 100%;
    margin-bottom: 30px;
}

.home_plan_img_outer.icon_img {
    height: 250px;
    width: 100%;
    margin-bottom: 30px;
}

.home_plan_img {
    height: 60px;
    width: 60px;
}

.home_plan_img.icon_img {
    height: 100%;
    width: 100%;
}

.home_plan_cards {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1.25rem;
    height: 100%;
    transition: 0.2s all ease-in-out;
}


.home_plan_cards:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Home Start CSS End*/


/* Newsletter CSS Start */
.newsletter-section .row {
    max-width: 43rem;
}

.newsletter-wrap input {
    width: 80%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #4c4c4c;
    padding: 10px;
    color: #4c4c4c;
}

.newsletter-wrap input::placeholder {
    color: #4c4c4c;
    opacity: 1;
}

.newsletter-wrap input::-ms-input-placeholder {
    color: #4c4c4c;
}

.newsletter-wrap p {
    color: #4c4c4c;
    font-size: 1.2rem;
}

.newsletter-wrap h3 {
    line-height: 1.3;
}

/* Newsletter CSS End */


/* footer start  */
.site-footer {
    padding: 84px 0 10px;
    color: #fff;
}

.footer-logo p {
    font-size: 1.2rem;
    color: #ffffffdb;
    font-weight: 400;
    margin: 0;
}

.footer-logo a {
    background-image: url("../images/logo_footer.svg");
    width: 150px;
    height: 60px;

}


.footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.footer-top h4 {
    font-size: 22px;
    margin-bottom: 30px;
}

.footer-links {
    padding-left: 60px;
}

.footer-links li a,
.footer-contact li {
    color: #ffffffdb;
    font-size: 22px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: -0.24px;
    margin-bottom: 15px;
    transition: all 0.2s linear;
}

.footer-links li a:hover,
.footer-contact li:hover {
    color: var(--black);
}

.footer-contact li i {
    margin-right: 10px;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(255 255 255 / 80%);
    padding-top: 35px;
    margin-top: 35px;
}

.footer-bottom p {
    color: #fff;
}

.social-icons ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 230px;
}

.social-icons li a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    transition: all 0.2s linear;
    padding: 11px;
}

.social-icons li a:hover {
    transform: translateY(-4px);
}

.ssl_logo {
    height: 60px;
    width: 140px;
}

.ssl_logo_inner {
    height: 100%;
    width: 100%;
}

.social-icons li a svg {
    height: 100%;
    width: 100%;
    fill: #fff;
}

.footer-contact a {
    color: #fff;
    transition: 0.2s all ease-in-out;
    text-underline-offset: 10px;
}

.footer-contact a:hover {
    text-decoration: underline;

}

.footer-logo h5 {
    line-height: 1.4;
    font-size: 1.2rem;
}

/* footer end  */

/* Inner Pages CSS Start */
.inner_pages_banner {
    height: 100%;
    width: 100%;
}


.hotel_review_cards_sec .home_explore_card_txt h4 {
    line-height: 1.3;
    font-size: 1.5rem;
}

.how_we_select_cards_content ul li {
    margin-left: 1.25rem;
    list-style-type: disc;
}

.hotel_desc_top_banner p svg {
    height: 15px;
    width: 20px;
    margin-top: -3px;
    fill: #212529;
    margin-right: 0.3125rem;
}

.hotel_desc_top_banner h4 {
    font-size: 2rem;
}

.third_party_link {
    display: inline-block;
    color: #8b572a;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.after_banner_wrap ul li {
    list-style-type: disc;
    margin-left: 1.25rem;
}

.hotel_desc_third_btn {
    color: #8b572a;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 6px;
    font-size: 1.2rem;
}

.no_padding {
    padding: 0;
}

.home_plan_cards.no_padding .how_we_select_cards_content {
    padding: 0 1.25rem 1.25rem;
}

.booking-table {
    width: 100%;
    max-width: 700px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.booking-table th,
.booking-table td {
    border: 1px solid #4c4c4c;
    padding: 8px;
    text-align: left;
}

.booking-table th {
    background-color: #f2f2f2;
}

.home_plan_cards.diff .home_plan_img_outer.icon_img {
    height: 350px;
}

/* Inner Pages CSS End */

/* Contact Us CSS Start */
#contact {
    background-image: url("../images/how-we-compare-bg.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    max-width: 500px;
}

.contact_us_content .row {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.contact_us_content fieldset:last-child {
    margin-bottom: 0;
}

.contact_us_content #contact button {
    margin-bottom: 0;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input,
#contact textarea,
#contact select {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

#contact input:hover,
#contact textarea:hover,
#contact select:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}


#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact select {
    max-width: 100%;
    color: #444546;
    outline: none;
}




.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #444546;
}

::-webkit-input-placeholder,
::-webkit-select-placeholder {
    color: #444546;
}

:-moz-placeholder {
    color: #444546;
}

:-ms-input-placeholder {
    color: #444546;
}

.modal {
    z-index: 99999;
}

.modal-title {
    color: #000;
    font-size: 1.5rem !important;
    font-family: "Open Sans", serif;
}

/* Contact Us CSS End */